<!doctype html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="/stylesheets/github.min.css" rel="stylesheet">
    <!--<link href="/stylesheets/header.css" rel="stylesheet">-->
    <link href="/stylesheets/body.css" rel="stylesheet">
    <link href="/stylesheets/tags.css" rel="stylesheet">
    <link rel="stylesheet" href="/icon/style.css"></head>
    <!--newsass-->
    <link href="/cssstyle/all.css" rel="stylesheet">
    <!---->
    <script src="http://cdn.bootcss.com/highlight.js/8.0/highlight.min.js"></script>

    <script >hljs.initHighlightingOnLoad();</script>

    <style>
  </style>
<script>

</script>
</head>
<body>

