<%- include header %>
<form method="post">
    <label for="name">用户名：</label><input id="name"type="text" name="name"/><br/>
    <label for="password">密码：</label><input id="password" type="password" name="password"/><br/>
    <button type="submit">登录</button>

</form>
<%- include footer %>