<%- include blog %>
<form method="post" id="postcon">
	<p><label for="name">标题：</label> 
   <input type="text" name="title" id="name" required/></p>
   <p> <label>标签：</label> 
   	<input type="text" name="tag1"/> <input type="text" name="tag2"/> <input type="text" name="tag3"/></p>
    <p><label>正文：</label><br/>
    	<textarea name="post" rows="20" cols="100"></textarea></p>
    <input type="submit" value="发表"/>
</form>
<script type="text/javascript">
(function(){
var form=document.getElementById('postcon');
form.onsubmit=function(){

var inputs=form.getElementsByTagName('input');
var textarea=form.getElementsByTagName('textarea')[0];
if(inputs[0].value.trim()==""){
	alert("标题内容不能为空！");
    return false;
}
if(textarea.value.trim()==""){
    alert("输入内容不能为空！");
    return false;
}

return true;

}
})()


</script>
<%- include footer %>