<%- include header %>
<form method="post">
    <label for="name">用户名：</label><input id="name"type="text" name="name"/><br/>
    <label for="password">密码：</label><input id="password" type="password" name="password"/><br/>
    <label for="password-repeat">确认密码：</label><input id="password-repeat" type="password" name="password-repeat"/><br/>
    <label for="email">email：</label><input id="email" type="email" name="email"/><br/>


    <button type="submit">注册</button>

</form>
<%- include footer %>