/*.taglist{
	position: relative;
}*/

/*.tag{
	position: absolute;
	top:0;
	left: 0;
	padding:  1rem;
}*/
a.tag:hover{
	color:#ED528C;
	background-color: #FAE2C0;
}
a.tag {
	display: inline-block;
	height: 2.5rem;
	background-color:  #6bc30d;
	border-radius: 3px;
	text-align: center;
	line-height: 2.5rem;
	margin: .5rem;
	padding: 0 1.5rem;
    font-size: 1.2rem;
    color:white;
    text-decoration:none;
      -webkit-transition: all 0.3s ease-out;
}
a:empty{
	display: none;
}
/*.taglist span{
	width: 5rem;
	height: 2.5rem;
}*/